In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv(r"C:\Users\HP\Desktop\DS lab assignment\GroupA-Assignment4\HousingData.csv")
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [3]:
data.tail()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [4]:
print("The shape of the data is: ")
data.shape

The shape of the data is:

(506, 14)

Hence, we can see that there are no NULL values

In [5]:
data.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [6]:
updated_data = data
updated_data ['CRIM'] = updated_data['CRIM'].fillna(updated_data['CRIM'].mean())
updated_data ['ZN'] = updated_data['ZN'].fillna(updated_data['ZN'].mean())
updated_data ['INDUS'] = updated_data['INDUS'].fillna(updated_data['INDUS'].mean())
updated_data ['CHAS'] = updated_data['CHAS'].fillna(updated_data['CHAS'].mean())
updated_data ['AGE'] = updated_data['AGE'].fillna(updated_data['AGE'].mean())
updated_data ['LSTAT'] = updated_data['LSTAT'].fillna(updated_data['LSTAT'].mean())
updated_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [7]:
data.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

Define the independent and dependent variables from the dataset

In [8]:
X = data.iloc[:,0:13]
y = data.iloc[:,-1]

Splitting data into traing and testing dataset

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20,random_state=42)

Shapes of the training and testing dataset

In [10]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(404, 13)
(102, 13)
(404,)
(102,)

Importing LinearRegression() function

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())
model.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler(with_mean=False)),
                ('linearregression', LinearRegression())])

In [13]:
model.score(X_test,y_test)

0.6588520195508119

In [17]:
#data = pd.read_csv(r"C:\Users\HP\Desktop\DS lab assignment\GroupA-Assignment4\HousingData.csv")
data.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.000000,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.980000,24.0
1,0.02731,0.0,7.07,0.000000,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.140000,21.6
2,0.02729,0.0,7.07,0.000000,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.030000,34.7
3,0.03237,0.0,2.18,0.000000,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.940000,33.4
4,0.06905,0.0,2.18,0.000000,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,12.715432,36.2
5,0.02985,0.0,2.18,0.000000,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.210000,28.7
6,0.08829,12.5,7.87,0.069959,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.430000,22.9
7,0.14455,12.5,7.87,0.000000,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.150000,27.1
8,0.21124,12.5,7.87,0.000000,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.930000,16.5
9,0.17004,12.5,7.87,0.069959,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.100000,18.9

In [15]:
# Make predictions
predictions = model.predict(X_test)

# Print the predictions
print(predictions)

[ 2.91432496e+01  3.65356675e+01  1.44925129e+01  2.50811104e+01
  1.84560923e+01  2.30104937e+01  1.81386861e+01  1.46265167e+01
  2.21158938e+01  2.08706364e+01  2.50758640e+01  1.87470982e+01
 -5.67498472e+00  2.17286655e+01  1.90464014e+01  2.54293420e+01
  1.96620047e+01  6.12420178e+00  4.09972355e+01  1.72352716e+01
  2.48905259e+01  3.02961849e+01  1.18008779e+01  2.29655895e+01
  1.73451595e+01  1.51051621e+01  2.10901065e+01  1.44883316e+01
  2.30923960e+01  1.94365043e+01  2.25439953e+01  2.52375663e+01
  2.59309510e+01  1.66289054e+01  1.64513986e+01  1.66143478e+01
  3.11105960e+01  2.02837991e+01  2.43569451e+01  2.26326769e+01
  1.45257750e+01  3.23698301e+01  4.30428488e+01  1.76390763e+01
  2.76326197e+01  1.64305143e+01  1.42484248e+01  2.61635938e+01
  1.97678160e+01  3.01463483e+01  2.09688785e+01  3.38338873e+01
  1.64161397e+01  2.63964842e+01  3.97974153e+01  2.20563187e+01
  1.86348862e+01  3.28326904e+01  2.54125467e+01  1.30089663e+01
  2.27876091e+01  3.07563535e+01  3.14152535e+01  1.63140433e+01
  2.03393413e+01  1.71517970e+01  2.01806664e+01  2.61876399e+01
  3.09535452e+01  1.13750175e+01  2.09535826e+01  2.65775894e+01
  1.10320126e+01  1.28353764e+01  2.37619366e+01  6.45053524e+00
  2.16940761e+01  4.17751699e+01  1.87002180e+01  8.80916013e+00
  2.09823382e+01  1.32224442e+01  2.09744123e+01  9.19727517e+00
  2.29748473e+01  3.23665383e+01  1.90112841e+01  2.56021909e+01
  2.86884146e+01  1.97639493e+01  2.59912517e+01  5.78236486e+00
  1.94886094e+01  1.52277879e+01  1.07368355e+01  2.00495289e+01
  2.37375593e+01  2.87336882e-02  1.35379379e+01  1.60971385e+01
  2.27958041e+01  2.43808232e+01]

In [16]:
#import pandas as pd

# Convert predictions, X_test, and y_test to DataFrames
predictions_data = pd.DataFrame(predictions, columns=['Predicted Price'])
#X_test_df = pd.DataFrame(X_test, columns=['Feature 1', 'Feature 2', ...])  # Replace 'Feature 1', 'Feature 2', ... with your actual feature names
y_test_data = pd.DataFrame(y_test, columns=['MEDV'])

# Concatenate the DataFrames
result_data = pd.concat([predictions_data, y_test_data], axis=1)

# Print the result DataFrame
print(result_data)

     Predicted Price  MEDV
0          29.143250  24.0
1          36.535668   NaN
2          14.492513  34.7
3          25.081110   NaN
4          18.456092   NaN
..               ...   ...
132              NaN  23.0
371              NaN  50.0
412              NaN  17.9
436              NaN   9.6
411              NaN  17.2

[176 rows x 2 columns]